 <div class='inline'> 
  <% if current_user.profile.seller? %>  
    <a href=<%= new_post_path %> class='btn btn-default btn-lg'>
        <span class='glyphicon glyphicon-plus' aria-hidden='true'></span>
        <h6>Add a new listing</h6>
    </a>
    <a href=<%= minimum_order_post_path(:id => current_user.id) %> class='btn btn-default btn-lg'>
      <span class='glyphicon glyphicon-usd' aria-hidden='true'></span>
      <h6>Update minimum order
      <%= number_to_currency(current_user.profile.minimum_order) %>
      </h6>
    </a>
  <% end %>
  <a href=<%= orders_path(:id => current_user.id) %> class='btn btn-default btn-lg'>
    <span class='glyphicon glyphicon-th-list' aria-hidden='true'></span>
    <h6>View all orders</h6>
  </a>
</div>
<br />
<% if @active_posts.any? %>
  <div class='col-group card-deck'>
    <h2>Current listings</h2>
    <%= render @active_posts %>
  </div>
<% else %>
  <h2>No current offers</h2>
<% end %>
<% if @inactive_posts.any? %>
  <br />
  <div class='clear'></div>
  <div class='col-group card-deck'>
    <h2>Inactive listings</h2>
    <%= render @inactive_posts %>
  </div>
<% end %>
<script>
  $(document).ready(() => {
    $('.footer').css('bottom', 'auto');
  });
</script>

